@model IEnumerable<InMemory.Models.Teste>
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Provider InMemory</p>
</div>
<form asp-action="ExcluirPrimeiro">
    <button type="submit">EXCLUIR PRIMEIRO</button>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Título</th>
            <th>ShortDescription</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.ShortDescription
                </td>
            </tr>
        }

    </table>
</div>
